body {
  background-color: #E6E8E6;
}

header {
  background-image: url("../source/img/header.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}
header h1 {
  width: 100%;
  font-variant: small-caps;
  background-color: #E6E8E6;
  mix-blend-mode: screen;
  font-weight: bold;
  text-align: center;
  font-size: 12vw;
  letter-spacing: 3px;
  font-family: "Courier New", Courier, monospace;
}

footer {
  color: #E6E8E6;
}
footer p {
  text-align: center;
}

nav div > ul > li:hover {
  background-color: #F15025;
  transition: all 0.6s;
  border-radius: 5px;
}

.dropdown-menu li a:active {
  background-color: #F15025;
}

.navbar-brand {
  display: flex;
  align-items: center;
}

span {
  font-weight: bold;
  color: #F15025;
}

.booklink {
  color: #CED0CE;
}

.card {
  border: #F15025 2px solid;
  border-radius: 14px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  height: 100%;
}

.col-11 {
  margin-bottom: 50px;
}

.card-img-top {
  border-radius: 12px 12px 0px 0px;
}

.btn {
  display: block;
  position: absolute;
  bottom: 10px;
  width: 80%;
  left: 10%;
  margin: auto;
  background-color: #F15025;
  color: #191919;
  font-size: 110%;
  transition: all 0.6s;
}

.checkout-text {
  font-weight: bold;
  font-variant: small-caps;
  padding-top: 0px;
  margin-bottom: 25px;
}

.cart-btn {
  position: relative;
  display: block;
  margin: auto;
  width: 80%;
  margin-left: 0px;
}

.cart-btn:hover {
  background-color: #191919;
  color: #E6E8E6;
}

.checkout {
  display: flex;
  width: 80%;
  justify-content: baseline;
}

.btn:hover {
  transition: all 0.6s;
}

.card-body {
  background-color: #191919;
  color: #E6E8E6;
  border-radius: 0px 0px 12px 12px;
}

.promo {
  border-radius: 0px 15px 15px 0px;
}

.card-btn {
  position: inherit;
  width: 100%;
  transition: all 0.6s;
}

.card-btn:hover {
  background-color: #191919;
  color: #E6E8E6;
}

.cart {
  justify-content: center;
  align-items: center;
  margin-top: 5px;
  border-radius: 8px;
  color: #191919;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 5px;
}

.cart-input {
  max-width: 72px;
  padding: 12px;
  background-color: #F15025;
  border: solid 2px #191919;
  color: #191919;
  transition: all 0.6s;
  border-radius: 0px 8px 8px 0px;
}

#submit {
  width: 80%;
  border-radius: 8px 0px 0px 8px;
  background-color: #F15025;
  border: solid 2px #191919;
  border-right: none;
  padding: 12px;
  transition: all 0.6s;
}

#submit:hover, .cart-input:hover {
  background-color: #191919;
  color: #E6E8E6;
}

.cart-input:focus {
  background-color: #191919;
  border: 2px solid #191919;
  color: #CED0CE;
  outline: none;
}

h5, h3 {
  text-align: center;
  font-variant: small-caps;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2 {
  background-color: #F15025;
  font-variant: small-caps;
  color: #191919;
  font-family: cursive;
}

#sad {
  display: block;
  margin: auto;
  max-height: 150px;
  margin-top: 25px;
}

#emptyRow {
  position: relative;
}

#emptyCart {
  display: none;
}

#empty h3 {
  display: block;
  margin: auto;
  text-align: center;
  width: 70%;
}

.popup {
  display: none;
  border-radius: 8px;
  padding: 25px;
  min-width: 150px;
  min-height: 50px;
  position: absolute;
  height: 20%;
  width: 30%;
  top: 40%;
  left: 35%;
  background-color: #191919;
  color: #E6E8E6;
}

#purchased {
  min-width: 350px;
  min-height: 36%;
  top: 32.5%;
  padding: 10px;
}

#counter {
  position: absolute;
  bottom: 0px;
  right: 5px;
  background-color: #F15025;
  text-decoration: none;
  color: #191919;
  padding: 0px 5px 0px 5px;
  border-radius: 50%;
}

#counter p {
  margin: 0px;
  padding: 0px;
}

.col-lg-8 {
  padding-left: 0;
}

#purchased .popupText {
  position: inherit;
  width: 100%;
}

.popupText {
  width: 80%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-variant: small-caps;
  position: absolute;
  left: 10%;
  height: 25px;
  top: 25px;
}

.popup-btn {
  position: absolute;
  color: #191919;
  bottom: 10px;
}

#empty {
  position: absolute;
  top: 30%;
  left: 0;
  height: 300px;
}

.browse {
  position: absolute;
  left: 30%;
  bottom: 10px;
  width: 40%;
  transition: all 0.6s;
}

.browse:hover {
  background-color: #191919;
  color: #E6E8E6;
}

#shoppingCart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.item {
  position: relative;
  width: 80%;
  border: #191919 solid 3px;
  border-radius: 8px;
  background-color: #191919;
  color: #E6E8E6;
  padding-right: 0px;
  margin-bottom: 20px;
}

.item-btn img {
  max-width: 32px;
  max-height: 32px;
}

.item-btn {
  position: inherit;
  margin-top: 8px;
  max-width: 48px;
  max-height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.6s;
}

.item-btn:hover {
  background-color: #E6E8E6;
}

.col-6 p {
  position: absolute;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.currentAmount {
  bottom: 25px;
}

.currentPrice {
  bottom: 0;
}

.item .col-2 {
  padding-left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 12px;
  margin-bottom: 8px;
}

.item .col-4 {
  padding-left: 0px;
}

h4.item-title {
  margin-top: 0;
}

h3.item-title {
  color: #CED0CE;
}

.item-title {
  margin-top: 15px;
  text-align: left;
  font-variant: small-caps;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.item-img {
  padding-left: -20px;
}

.navbar-nav {
  display: flex;
  align-items: center;
}

nav div a {
  padding: 10px 10px 5px;
}

nav div > a:hover {
  background-color: #F15025;
  transition: all 0.6s;
  border-radius: 5px;
}

#navbar {
  background-color: #191919 !important;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

footer {
  background-color: #191919;
  padding-bottom: 2px;
}

.intro {
  color: #E6E8E6;
  border-radius: 10px;
  background-color: #191919;
}

main {
  min-height: 625px;
  background-color: #CED0CE;
}

.other {
  display: flex;
  flex-direction: row;
  justify-content: start;
  padding-left: 15px;
  padding-right: 15px;
}
.other label {
  padding-right: 15px;
}
.other input[type=text] {
  color: #CED0CE;
  width: 100%;
  min-width: 140px;
  border: none;
  border-bottom: 2px solid #F15025;
  background-color: #191919;
  transition: all 0.4s;
}
.other input:focus {
  outline: none;
}

#searchbar {
  color: #CED0CE;
  transition: all 0.4s;
  border-radius: 10px;
  padding: 5px;
}

#searchbar:focus {
  outline: 2px solid #F15025;
}

@media only screen and (max-width: 992px) {
  #counter {
    bottom: 10px;
    right: 47%;
  }
}
@media only screen and (max-width: 991px) {
  nav div > ul > li {
    width: 100%;
    text-align: center;
  }
}
@media only screen and (max-width: 767px) {
  .scroll {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
  }
  .scroll::-webkit-scrollbar {
    display: none;
  }
  .popup {
    width: 80%;
    left: 10%;
  }
}
@media only screen and (min-width: 992px) {
  #cart, #search {
    position: absolute;
    padding-right: 5px;
  }
  #cart {
    right: 15px;
    top: 6px;
  }
  #search {
    right: 70px;
    top: 12px;
  }
}/*# sourceMappingURL=style.css.map */